{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }],
        "react"
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }],
        "react"
      ]
    }
  }
}