{
  "env": {
    // Compatibility Profile. ES5 output and CommonJS module format.
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }],
        "react"
      ]
    },
    // Future Profile. ES6 output and module syntax.
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false,
          "targets": {
            "node": "6.5"
          }
        }],
        "react"
      ]
    }
  }
}