# Common aux folders
.awcache/
.vscode/
.idea/
.cache/

# Dependencies & Build
node_modules/
build/
lib/
dist/
es/

# Aux files
*.cer
*.log
*/src/**/*.orig
*/src/**/*.js.map

# Win
desktop.ini

# MacOs
.DS_Store

# Yarn
yarn.lock

# NPM
package-lock.json
