.title {
  color: #000;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #248f4f;
}

.table td, .table th {
  text-align: inherit;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #248f4f;
}

.table tbody tr:nth-of-type(odd) {
  background-color: rgba(43, 173, 96, .05);
}